html,
body {
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@media screen and (min-width: 1180px) {
  .custom-element {
    max-width: 500px;
  }
}
